{% extends 'master-with-navigation.njk' %}

{% block title %}
  View Job Roles
{% endblock %}

{% block pageTitle %}
  View Job Roles
{% endblock %}

{% block content %}

    {% if errormessage %} 
    <div class="alert alert-danger" role="alert">
        <h2>{{ errormessage }}</h2>
    </div>
    {% else %}
  <div class="container job-roles-list" id="jobRolesTable">
    {% if jobRoles and jobRoles.length > 0 %}
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Job Role</th>
            <th scope="col">Capability</th>
            <th scope="col">Band Level</th>
          </tr>
        </thead>
        <tbody>
          {% for jobRole in jobRoles %}
            <tr class="job-role-row" id="job_role_{{ jobRole.jobId }}">
              <td id='job_role_{{ jobRole.jobId }}_{{ jobRole.jobName }}'><a href="/job-specification/{{ jobRole.jobId }}"><u>{{
                jobRole.jobName }}</u></a></td>
              <td id='job_capability_{{ jobRole.jobId }}_{{ jobRole.jobCapabilityName }}'>{{ jobRole.jobCapabilityName }}</td>
              <td id='job_bandLevel_{{ jobRole.jobId }}_{{ jobRole.bandLevel.bandId }}'>{{ jobRole.bandLevel.bandName }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <section class="jumbotron text-center bg-danger">
        <div class="container">
          <h1 class="jumbotron-heading text-light">No job roles available</h1>
          <p class="lead text-light">We apologize, currently there are no job roles right now.</p>
          <p>
            <a href="/" class="btn btn-secondary my-2">Return to homepage</a>
          </p>
        </div>
      </section>
    {% endif %}
  </div>
  {% endif %}

{% endblock %}