{% extends 'master-with-navigation.njk' %}

{% block title %}
View Job Roles
{% endblock %}

{% block pageTitle %}
View Job Roles
{% endblock %}

{% block content %}

{% if errormessage %}
<div class="alert alert-danger text-center" role="alert">
  {{ errormessage }}
</div>
{% else %}
<div class="container" style="padding-top: 3% ;">
  {% if jobRoles and jobRoles.length > 0 %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Job Role</th>
      </tr>
    </thead>
    <tbody>
      {% for jobRole in jobRoles %}
      <tr class="job-role-row">
        <td id='job_role_{{ jobRole.jobId }}'><a href="/job-specification/{{ jobRole.jobId }}" method="GET"><u>{{
              jobRole.jobName }}</u></a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <section class="jumbotron text-center bg-danger">
    <div class="container">
      <h1 class="jumbotron-heading text-light">No job roles available</h1>
      <p class="lead text-light">We apologize, currently there are no job roles right now.</p>
      <p>
        <a href="/" class="btn btn-secondary my-2">Return to homepage</a>
      </p>
    </div>
  </section>
  {% endif %}
</div>
{% endif %}

{% endblock %}