{% extends "master.njk" %}

{% block title %}
    Login
{% endblock %}

{% block pageTitle %}
    Login
{% endblock %}

{% block content %}
    <div class="container" style="padding-top: 3% ;" id="main">
        {% if errormessage %}
        <div id="errormessage" class="alert alert-danger" role="alert">
            {{ errormessage }}
        </div>
        {% endif %}
        <h2>Login</h2>
        <form action="/login" method="post">
            <div class="form-group">
                <label for="username">Email</label>
                <input type="text" id="username" name="username" value="{{ username }}" class="form-control" required/>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" value="{{ password }}" class="form-control" required/>
            </div>
            <button id="submitbutton" type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
{% endblock %}
