<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="images/favicon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    
     <title>
    {% block title %}
    {% endblock %}
    </title>

</head>

<body>
    <header id="header" class="header">
        <div class="container">
            <div class="header__container">
                <div class="header__logo-wrap">
                    <a href="#">
                        <picture>
                            <img src="images/logo.png" alt="kainos" style="width: 100px;"></img>
                        </picture>
                        <span class="sr-only">Logo</span>
                    </a>
                </div>
                <div class="mega-menu__holder js-mega-menu-holder" id="menu-items">
                    <div class="mega-menu js-mega-menu">
                    {% block navigationLinks %}
                    {% endblock %}
                       
                    </div>
                </div>
                <div class="header__right-panel js-header-right-panel">
                {% block hamburger %}
                {% endblock %}
                    
                </div>
            </div>
        </div>
    </header>
    {% block dropdown %}
    {% endblock %}

    <div class="container">
        <div class="row" id="colourBar">
            <div class="col-md-12">

                <h1 id="pageTitle">{% block pageTitle %} {% endblock %}</h1>
           
            </div>
        </div>
    </div>
    
    {% block content %}
    {% endblock%}
   
    <footer class="footer" id="footer">
        <div class="container">
            <div class="row" id="footerColourBar" style="text-align: center;">
                <div class="col"><p id="copy"><small>© 2023 Kainos. Registered in NI NI019370</small> </p>></div>
                <div class="col"><p id="address">4-6 Upper Crescent Belfast BT7 1NT</p></div>
                <div class="col"><p id="phone">Tel: 028 9057 1100</p></div>
            </div>
        </div>
    </footer>

    {% block mobileFooter%}
    {% endblock %}

    {% block script %}
    {% endblock %}
    
</body>
</html>